/* styles.css */
* {
  box-sizing: border-box;
}

/*may not need below*/
/* Desktop layout (default) */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Mobile layout (for screens smaller than 768px) */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
/*may not need above*/

html, body {
    background-color: #e7e7e7;
    margin: 0px;
    padding: 20px;
    width: 100%;
    height: 100%;
}

header, main, footer {
    width: 100%;
    overflow-x: hidden;
    background-color: #edecec
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.brand {
    font-size: 4vw;
    padding: 15px;
}

.nav-links {
    display: flex;
    gap: 15px;
    padding: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.75vw;
}

.nav-links a:hover {
    color: #007BFF;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}